@import "navbar";
@import "main";
@import "content";
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
footer{
    width:100%;
    box-sizing:border-box;
    background-color:#03081a;
    padding-left:5%;
    padding-right:5%;
    div{
        display:flex;
        justify-content:space-between;
        align-items:center;
        >img{
            box-sizing:border-box;
            padding:2%;
            width:15%;
        }
        >img:hover{
            cursor:pointer;
        }
        
    }
}
#follow{
    width:27%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;

}
.griditem{
    display:grid;
    border-top:1px solid #333645;
    border-bottom:1px solid #333645;
    grid-template-columns: repeat(4, 1fr);
    color:white;
    >button{
        grid-column:3/span 2;
        width:40%;
        height:80%;
        border-radius:15px;
       margin-left:50%;
       font-weight: 600;
       color:
       #6db8fb;
       border:none;
    }
    >button:hover{
        background-color:rgb(201, 187, 187);
        cursor:pointer;
    }
    >p:nth-child(1):hover,>p:nth-child(2):hover,>p:nth-child(3):hover,>p:nth-child(5):hover,>p:nth-child(6):hover {
        color:#6879f8;
        cursor:pointer;
    } 
     
}
.bottom{
    color:grey;
    font-size:12px;
    font-weight:100;
}